* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    text-align: center;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.wrapper-1 {
    text-align: center;
    width: 100%;
    height: 700px;
}

.wrapper-1 {
    background-image: url(../images/Copy\ of\ 0S8A5994\ 2.png);
    background-repeat: no-repeat;
    background-size: 1140px 800px;

}

.hero {
    padding-top: 300px;
    color: white;

}

.header-3 {
    width: 332px;
    height: 189px;
    top: 676px;
    left: 32px;
    gap: 0px;
    opacity: 0px;
    display: grid;
    font-size: 16px;
    font-weight: 500;
    line-height: 26.88px;
    letter-spacing: 0.1em;
    text-align: left;
    color: black;
}

.paragraf {
    width: 332px;
    height: 182px;
    top: 854px;
    left: 32px;
    gap: 0px;
    opacity: 0px;
    color: #767676;

    font-size: 14px;
    font-weight: 400;
    line-height: 26.18px;
    text-align: left;

}

.wrapper-2 {
    padding-top: 70px;
    gap: 70px;
}

.image {
    object-fit: contain;
}

.header {
    padding-left: 150px;
}

.image {
    width: 100%;
}

.wrapper-3 {
    padding-top: 64px;
}

.text {
    padding-top: 15px;
}

.subtext {
    padding-top: 50px;
}

.wrapper-4 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.header-2 {
    width: 340px;
    height: 54px;
    top: 1945px;
    left: 404px;
    gap: 0px;
    opacity: 0px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.88px;
    letter-spacing: 0.1em;
    text-align: left;

}

.paragrav {
    color: #767676;

    font-size: 14px;
    font-weight: 400;
    line-height: 26.18px;
    text-align: left;
    width: 340px;
    height: 182px;
    top: 2023px;
    left: 404px;
    gap: 0px;
    opacity: 0px;

}

.wrapper-5 {
    padding-top: 70px;
    gap: 70px;
    padding-left: 150px;
    padding-bottom: 50px;

}