html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a
{
    text-decoration: none;
    display: inline-block;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root
{



    --Oswald:  "Oswald", sans-serif;
    --Work:  "Work Sans", sans-serif

}

*{
    box-sizing: border-box;
    outline: none;
    border: none;
    background: none;
}

body
{
    font-family: "Open Sans", sans-serif;

}

.container
{
    width: 100%;
    max-width: 768px;
    padding: 0 24px;
    margin: 0 auto;
}

.header-top
{
    padding: 10px 0;
    background-color: #FBFBFB;

}

.header-title
{
    font-family:var(--Oswald) ;
    font-size: 12px;
    font-weight: 300;
    line-height: 20.16px;
    letter-spacing: 0.16em;
    text-align: center;
}


.header-wrapper
{
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-buttons
{
    display: flex;
    align-items: center;
    gap: 16px;
}

header button:hover
{
    opacity: 0.6;
}

header button:active
{
    opacity: 0.3;
}





footer
{
    padding: 40px 0 15px;
    background-color: #F1F1F1;
}

.footer-container
{
    max-width: 460px;
}

.footer-title
{
    font-family:var(--Work);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.08px;
    letter-spacing: 0.165em;
    margin-bottom: 29px;
}

.footer-form{
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 16px;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-form:focus-within
{
    box-shadow: inset 0 -4px 0 #77ea85;
}

.footer-input
{
    width: 100%;
}

.footer-input::placeholder
{
    font-family: var(--Work);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.85px;
}




.footer-links
{
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}



.footer-wrapper
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
}

.footer-item-text
{
    font-family: var(--Work);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.08px;
    letter-spacing: 0.165em;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.footer-link
{
    font-size: 14px;
    font-weight: 400;
    line-height: 23.45px;
    margin-bottom: 12px;
    color: #7E7E7E;
}

.footer-link:hover
{
    color: black;
}

.footer-link:active
{
    opacity: 0.6;
}


.footer-atribut
{
    font-size: 12px;
    font-weight: 300;
    line-height: 20.1px;
    color: #C4C4C4;
    text-align: center;

}















